<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>车辆搜索</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		{% load static %}
		<script src="{% static 'jquery-3.6.0.min.js'%}"></script>
		<script src="{% static 'bootstrap.min.js'%}"></script>
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
	</head>
	<style type="text/css">
		img{
			width: 100%;
			height: 300px;
		}
		.tschart {
			width: 100%;
			height: 300px;
		}
	</style>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">大数据平台</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my_nav_list">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="my_nav_list">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">智能监控</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/index/">道路地图</a>
								</li>
								<li>
									<a href="/monitorShow/">监控数据</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">数据分析</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/trafficStatics/">流量统计</a>
								</li>
								<li>
									<a href="/districtStatics/">区域统计</a>
								</li>
								<li>
									<a href="/foreignCar/">外地车统计</a>
								</li>
								<li>
									<a href="/realTimeAnalysis/">实时分析</a>
								</li>
								<li>
									<a href="/trafficForecast/">流量预测</a>
								</li>
							</ul>
						</li>
						<li class="active dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">地图搜车</a>
							<ul class="dropdown-menu">
								<li class="active">
									<a href="/carSearch/">车辆搜索</a>
								</li>
								<li>
									<a href="/collisionAnalysis/">碰撞分析</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a>用户信息</a>
								</li>
								<li>
									<a>退出</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form action="/carSearch/" method="get" class="form-inline">
					<label>车牌号：</label>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="车牌号" name="car_id">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
					<span id="car_list">请选择：
						{% for car_id in myData.car_list %}
						<a href="/carSearch/?car_id={{car_id}}">{{car_id}}</a>
						{% endfor %}
					</span>
				</form>
			</div>
			<div id="car_detail">
				<div class="col-md-3">
					<h3>车牌号：{{myData.car_id}}</h3>
					<h3>一共具有{{myData.car_traffic|default:0}}条数据</h3>
					<h3>平均车速：{{myData.car_average_speed}}KM/H</h3>
				</div>
				<div class="col-md-4">
					<h3>车辆图片</h3>
					<img src="{% static 'img/car5.jpg'%}" />
				</div>
				<div class="col-md-5">
					<div id="tscarroad" class="tschart"></div>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<h3>超速次数：{{myData.speeding_record_by_car|length}}</h3>
					<table class="table">
						<caption>监控详细数据</caption>
						<thead>
							<tr>
								<th>日期</th>
								<th>监控区域</th>
								<th>摄像机号</th>
								<th>车牌</th>
								<th>拍摄时间</th>
								<th>车速</th>
								<th>道路</th>
								<th>区域</th>
							</tr>
						</thead>
						<tbody>
							{% for detail in myData.speeding_record_by_car %}
							<tr>
								<td>{{ detail.monitor_date}}</td>
								<td>{{ detail.monitor_id }}</td>
								<td>{{ detail.camera_id }}</td>
								<td>{{ detail.car_id}}</td>
								<td>{{ detail.action_time}}</td>
								<td>{{ detail.car_speed }}</td>
								<td>{{ detail.road_id }}</td>
								<td>{{ detail.area_id }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var car_list = {{myData.car_list | safe}};
		if(car_list.length >=2){
			$("#car_list").show()
		}else{
			$("#car_list").hide()
		}
		var car_road_traffic={{myData.car_road_traffic|safe}}
		car_road_datas=[]
		car_road=[]
		for (var i = 0; i < car_road_traffic.length; i++) {
			var car_road_data = {}
			car_road.push(car_road_traffic[i]['road_id'] + '号道路')
			car_road_data['value'] = car_road_traffic[i]['count']
			car_road_data['name'] = car_road_traffic[i]['road_id'] + '号道路'
			car_road_datas.push(car_road_data)
		}
		var tscarroad = echarts.init(document.getElementById('tscarroad'));
		tscarroad.setOption({
		    title: {
		    	text: '道路通行情况',
		    	left: 'center'
		    },
		    tooltip: {
		    	trigger: 'item',
		    	formatter: '{a} <br/>{b} : {c} ({d}%)'
		    },
		    legend: {
		    	orient: 'vertical',
		    	left: 'left',
		    	data: car_road
		    },
		    series : [
		        {
		            name: '通过次数',
		            type: 'pie',
		    		radius: '60%',
		            data:car_road_datas
		        }
		    ],
		    emphasis: {
		    	itemStyle: {
		    		shadowBlur: 10,
		    		shadowOffsetX: 0,
		    		shadowColor: 'rgba(0, 0, 0, 0.5)'
		    	}
		    }
		})
	</script>
</html>
