<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>区域流量</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		{% load static %}
		<script src="{% static 'jquery-3.6.0.min.js'%}"></script>
		<script src="{% static 'bootstrap.min.js'%}"></script>
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
	</head>
	<style type="text/css">
		.tschart {
			width: 100%;
			height: 300px;
		}
	</style>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">大数据平台</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my_nav_list">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="my_nav_list">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">智能监控</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/index/">道路地图</a>
								</li>
								<li>
									<a href="/monitorShow/">监控数据</a>
								</li>
							</ul>
						</li>
						<li class="active dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">数据分析</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/trafficStatics/">流量统计</a>
								</li>
								<li class="active">
									<a href="/districtStatics/">区域统计</a>
								</li>
								<li>
									<a href="/foreignCar/">外地车统计</a>
								</li>
								<li>
									<a href="/realTimeAnalysis/">实时分析</a>
								</li>
								<li>
									<a href="/trafficForecast/">流量预测</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">地图搜车</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/carSearch/">车辆搜索</a>
								</li>
								<li>
									<a href="/collisionAnalysis/">碰撞分析</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a>用户信息</a>
								</li>
								<li>
									<a>退出</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<form action="/districtStatics/" method="post" class="form-inline">
			<div class="form-group">
				<label>区域</label>
				<select class="form-control" name="area_id">
					<option value="1">教学区</option>
					<option value="2">西区</option>
					<option value="3">东区</option>
				</select>
			</div>
			<button type="submit" class="btn btn-default">进行分析</button>
		</form>
		<h3>区域流量统计</h3>
		<hr />

		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<label>昨天一共{{myData.lastWeek.6.count}}辆车辆通过
				{% if myData.areaId == '2' %}
				西区
				{% elif myData.areaId == '3' %}
				东区
				{% else %}
				教学区
				{% endif %}</label><br />
				<label>流量最高的道路是：{{myData.roadDetail.0.road_id}}号道路</label><br />
			</div>
			<div class="col-md-4">
				<div id="tsbyroads" class="tschart"></div>
			</div>
			<div class="col-md-4">
				<div id="tsbyroad" class="tschart"></div>
			</div>
			<div class="col-md-4">
				<div id="tsbydate" class="tschart"></div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<h3>{% if myData.areaId == '2' %}
				西区
				{% elif myData.areaId == '3' %}
				东区
				{% else %}
				教学区
				{% endif %}的超速车辆数：{{myData.speedingCar|length}}</h3>
				<table class="table">
					<caption>监控详细数据</caption>
					<thead>
						<tr>
							<th>监控区域</th>
							<th>摄像机号</th>
							<th>车牌</th>
							<th>拍摄时间</th>
							<th>车速</th>
							<th>道路</th>
							<th>区域</th>
						</tr>
					</thead>
					<tbody>
						{% for detail in myData.speedingCar %}
						<tr>
							<td>{{ detail.monitor_id }}</td>
							<td>{{ detail.camera_id }}</td>
							<td>{{ detail.car_id}}</td>
							<td>{{ detail.action_time}}</td>
							<td>{{ detail.car_speed }}</td>
							<td>{{ detail.road_id }}</td>
							<td>{{ detail.area_id }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">
			var roadDetail = {{myData.roadDetail | safe}}
			var my_road = []
			var my_road_count = []
			var my_road_datas = []
			for (var i = 0; i < roadDetail.length; i++) {
				var my_road_data = {}
				my_road.push(roadDetail[i]['road_id'] + '号道路')
				my_road_count.push(roadDetail[i]['count'])
				my_road_data['value'] = roadDetail[i]['count']
				my_road_data['name'] = roadDetail[i]['road_id'] + '号道路'
				my_road_datas.push(my_road_data)
			}
			var tsbyroads = echarts.init(document.getElementById('tsbyroads'));
			tsbyroads.setOption({
			title: {
				text: '昨日区域流量统计',
				left: 'center'
			},
			tooltip: {
				trigger: 'item',
				formatter: '{a} <br/>{b} : {c} ({d}%)'
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: my_road
			},
			series : [
			    {
			        name: '访问来源',
			        type: 'pie',
					radius: '80%',
			        data:my_road_datas
			    }
			],
			emphasis: {
				itemStyle: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				}
			}
			})
			var tsbyroad = echarts.init(document.getElementById('tsbyroad'));
			tsbyroad.setOption({
				title: {
					text: '昨日道路流量统计',
					left: 'center'
				},
				tooltip: {
					trigger: 'item',
					formatter: '{a} <br/>{b} : {c}'
				},
				xAxis: {
					data: my_road
				},
				yAxis: {},
				series: [{
					name: '流量',
					type: 'bar',
					data: my_road_count
				}],
				emphasis: {
					itemStyle: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			})
			var lastWeek = {{myData.lastWeek | safe}};
			var lastweek_date = []
			var lastweek_date_count = []
			for (var i = 0; i < lastWeek.length; i++) {
				lastweek_date.push(lastWeek[i]['monitor_date'])
				lastweek_date_count.push(lastWeek[i]['count'])
			}
			var tsbydate = echarts.init(document.getElementById('tsbydate'));
			tsbydate.setOption({
				title: {
					text: '最近一周流量走势图',
					left: 'center'
				},
				legend: {
					data: ['当天流量']
				},
				tooltip: {
					trigger: 'item',
					formatter: '{a} <br/>{b} : {c}'
				},
				xAxis: {
					data: lastweek_date
				},
				yAxis: {},
				series: [{
					name: '流量',
					type: 'line',
					data: lastweek_date_count
				}],
				emphasis: {
					itemStyle: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			})
		</script>
	</body>
</html>
