<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>外来车辆</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		{% load static %}
		<script src="{% static 'jquery-3.6.0.min.js'%}"></script>
		<script src="{% static 'bootstrap.min.js'%}"></script>
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
	</head>
	<style type="text/css">
		.tschart {
			width: 100%;
			height: 300px;
		}
	</style>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">大数据平台</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my_nav_list">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="my_nav_list">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">智能监控</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/index/">道路地图</a>
								</li>
								<li>
									<a href="/monitorShow/">监控数据</a>
								</li>
							</ul>
						</li>
						<li class="active dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">数据分析</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/trafficStatics/">流量统计</a>
								</li>
								<li>
									<a href="/districtStatics/">区域统计</a>
								</li>
								<li class="active">
									<a href="/foreignCar/">外地车统计</a>
								</li>
								<li>
									<a href="/realTimeAnalysis/">实时分析</a>
								</li>
								<li>
									<a href="/trafficForecast/">流量预测</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">地图搜车</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/carSearch/">车辆搜索</a>
								</li>
								<li>
									<a href="/collisionAnalysis/">碰撞分析</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a>用户信息</a>
								</li>
								<li>
									<a>退出</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<h3>外地车统计</h3>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>最近一周有{{myData.last_week_foreign_car_count}}辆外地车</p>
				<p>昨天有{{myData.yesterday_foreign_car|length}}辆外地车</p>
			</div>
			<div class="col-md-4">
				<div id="foreign_car_area_last_week" class="tschart"></div>
			</div>
			<div class="col-md-4">
				<div id="foreign_car_road_last_week" class="tschart"></div>
			</div>
			<div class="col-md-4">
				<div id="foreign_car_date_lask_week" class="tschart"></div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<table class="table">
					<caption>昨日外地车辆</caption>
					<thead>
						<tr>
							<th>日期</th>
							<th>监控区域</th>
							<th>摄像机号</th>
							<th>车牌</th>
							<th>拍摄时间</th>
							<th>车速</th>
							<th>道路</th>
							<th>区域</th>
						</tr>
					</thead>
					<tbody>
						{% for detail in myData.yesterday_foreign_car %}
						<tr>
							<td>{{ detail.monitor_date}}</td>
							<td>{{ detail.monitor_id }}</td>
							<td>{{ detail.camera_id }}</td>
							<td>{{ detail.car_id}}</td>
							<td>{{ detail.action_time}}</td>
							<td>{{ detail.car_speed }}</td>
							<td>{{ detail.road_id }}</td>
							<td>{{ detail.area_id }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var last_week_foreign_car_area = {{myData.last_week_foreign_car_area | safe}};
		
		var my_area=[]
		var my_area_datas = []
		for (var i = 0; i < last_week_foreign_car_area.length; i++) {
			var my_area_data = {}
			my_area_data['value'] = last_week_foreign_car_area[i]['count']
			my_area_data['name'] = last_week_foreign_car_area[i]['car_area']
			my_area.push(last_week_foreign_car_area[i]['car_area'])
			my_area_datas.push(my_area_data)
		}
		
		var foreign_car_area_last_week = echarts.init(document.getElementById('foreign_car_area_last_week'));
		foreign_car_area_last_week.setOption({
		title: {
			text: '昨日外地车辆流量统计',
			left: 'center'
		},
		tooltip: {
			trigger: 'item',
			formatter: '{a} <br/>{b} : {c} ({d}%)'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			data: my_area
		},
		series : [
		    {
		        name: '车牌首字',
		        type: 'pie',
				radius: '80%',
		        data:my_area_datas
		    }
		],
		emphasis: {
			itemStyle: {
				shadowBlur: 10,
				shadowOffsetX: 0,
				shadowColor: 'rgba(0, 0, 0, 0.5)'
			}
		}
		})
		
		var last_week_foreign_car_road = {{myData.last_week_foreign_car_road | safe}};
		var my_road = []
		var my_road_count = []
		for (var i = 0; i < last_week_foreign_car_road.length; i++) {
			my_road.push(last_week_foreign_car_road[i]['road_id'] + '号道路')
			my_road_count.push(last_week_foreign_car_road[i]['count'])
		}
		var foreign_car_road_last_week = echarts.init(document.getElementById('foreign_car_road_last_week'));
		foreign_car_road_last_week.setOption({
			title: {
				text: '昨日道路外地车统计',
				left: 'center'
			},
			tooltip: {
				trigger: 'item',
				formatter: '{a} <br/>{b} : {c}'
			},
			xAxis: {
				data: my_road
			},
			yAxis: {},
			series: [{
				name: '车辆数量',
				type: 'bar',
				data: my_road_count
			}],
			emphasis: {
				itemStyle: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				}
			}
		})
		
		
		var last_week_foreign_car = {{myData.last_week_foreign_car | safe}};
		var lastweek_date = []
		var lastweek_date_count = []
		for (var i = 0; i < last_week_foreign_car.length; i++) {
			lastweek_date.push(last_week_foreign_car[i]['monitor_date'])
			lastweek_date_count.push(last_week_foreign_car[i]['count'])
		}
		var foreign_car_date_lask_week = echarts.init(document.getElementById('foreign_car_date_lask_week'));
		foreign_car_date_lask_week.setOption({
			title: {
				text: '最近一周外地车量',
				left: 'center'
			},
			legend: {
				data: ['外地车量']
			},
			tooltip: {
				trigger: 'item',
				formatter: '{a} <br/>{b} : {c}'
			},
			xAxis: {
				data: lastweek_date
			},
			yAxis: {},
			series: [{
				name: '当天流量',
				type: 'line',
				data: lastweek_date_count
			}],
			emphasis: {
				itemStyle: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				}
			}
		})
	</script>
</html>
